body {
    background-color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}

.card {
    background-color: #757780;
    text-align: center;
    width: 17em;
    margin: auto;
    margin-top: 3em;
    padding: 1em 2em;
    box-shadow: 0px 0px 25px #fff;
    border-radius: 8px;
}

.card-tittle {
    font-size: 1.7em;
    margin: 0;
}

.card-sub-tittle {
    font-size: 1.1em;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
    margin-top: 5px;
}

.card-content {
    /* background: #001011; */
    line-height: 2em;
    padding: 10px;
    padding-bottom: 0;
    text-align: justify;
    font-size: 9px;
    /* color: #1C110A; */
}

.card-img {
    width: 200px;
    border-radius: 50%;
}

.red-card {
    background-color: #DE541E;
}

.blue-card {
    background-color: #1982C4;
}

.yelloow-card {
    background-color: #FFCA3A;
}

.img-python {
    box-shadow: 0 2px 12px #2B3A67;
}

.img-java {
    box-shadow: 0 2px 12px #F0CF65;
}

.img-javaScript {
    box-shadow: 0 2px 12px #000f;
}